body {
  color: #ff0000;
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif
}
.subtitle { color: red; 
  border: 2px solid rgb(255, 255, 255);
  padding: auto;
  margin: auto;
  width: 300px;
}
#page-title { font-size: 48px; color: navy; }
#my-name {
  color: navy;
  font-size: 40px;
}
.myhopesforrobotics { color: rgb(1, 166, 23); }
#page-title { font-size: 48px; color: rgb(1, 166, 23); }
#my-name {
  color: rgb(1, 166, 23);
  font-size: 40px;
}