body {
  color: #ff0000;
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif
}
.subtitle { color: red; }
#page-title { font-size: 48px; color: navy; }
#my-name {
  color: navy;
  font-size: 40px;
}
